*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 164, 60, 0.756);
    width: 100%;
}

.logo {
    width: 180px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
   }

.nav-items {
    padding:  0px 30px;
}

.nav-items > ul {
    font-size: 26px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px
}

.res-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    transition: 0ms;
    
}

.res-card:hover {
    cursor: pointer;
    width:210px;
    transition-delay: 0.8ms;
}

.search {
    padding: 10px
}

.res-logo {
    width: 100%;
    border-radius: 5px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0
}
.user-card {
    padding: 10px;
    border: 1px solid black;
}
.login {
    padding: 0 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}